<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uh.system.mapper.SysRoleMenuMapper">

	<resultMap type="SysRoleMenu" id="SysRoleMenuResult">
		<result property="roleId"     column="role_id"      />
		<result property="menuCode"   column="menu_code"    />
	</resultMap>

	<!-- 根据用户ID查询菜单编码 -->
	<select id="selectMenuCodesByUserId" resultType="java.lang.String">
		SELECT DISTINCT rm.menu_code
		FROM sys_role_menu rm
		LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
		LEFT JOIN sys_role r ON r.role_id = ur.role_id
		WHERE ur.user_id = #{userId} AND r.status = '0'
	</select>

	<!-- 根据角色ID查询菜单编码 -->
	<select id="selectMenuCodesByRoleId" resultType="java.lang.String">
		SELECT menu_code FROM sys_role_menu WHERE role_id = #{roleId}
	</select>

	<delete id="deleteRoleMenuByRoleId" parameterType="Long">
		delete from sys_role_menu where role_id=#{roleId}
	</delete>
	
	<delete id="deleteRoleMenu" parameterType="Long">
 		delete from sys_role_menu where role_id in
 		<foreach collection="array" item="roleId" open="(" separator="," close=")">
 			#{roleId}
        </foreach> 
 	</delete>

	<!-- 批量插入角色菜单编码 -->
	<insert id="batchRoleMenuCodes">
		INSERT INTO sys_role_menu (role_id, menu_code) VALUES
		<foreach collection="menuCodes" item="menuCode" separator=",">
			(#{roleId}, #{menuCode})
		</foreach>
	</insert>
	
</mapper> 