<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uh.console.mapper.RdsVersionPkgMapper">
    
    <resultMap type="RdsVersionPkg" id="RdsVersionPkgResult">
        <result property="packageId"    column="package_id"    />
        <result property="versionId"    column="version_id"    />
        <result property="pkgName"    column="pkg_name"    />
        <result property="pkgType"    column="pkg_type"    />
        <result property="fileName"    column="file_name"    />
        <result property="fileSize"    column="file_size"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectRdsVersionPkgVo">
        select package_id, version_id, pkg_name, pkg_type, file_name, file_size, create_by, create_time, update_by, update_time, remark from cnsl_rds_version_pkg
    </sql>

    <select id="selectRdsVersionPkgList" parameterType="RdsVersionPkg" resultMap="RdsVersionPkgResult">
        <include refid="selectRdsVersionPkgVo"/>
        <where>  
            <if test="versionId != null "> and version_id = #{versionId}</if>
            <if test="pkgName != null  and pkgName != ''"> and pkg_name like concat('%', #{pkgName}, '%')</if>
            <if test="pkgType != null  and pkgType != ''"> and pkg_type = #{pkgType}</if>
            <if test="fileSize != null "> and file_size = #{fileSize}</if>
        </where>
    </select>
    
    <select id="selectRdsVersionPkgByPackageId" parameterType="Long" resultMap="RdsVersionPkgResult">
        <include refid="selectRdsVersionPkgVo"/>
        where package_id = #{packageId}
    </select>
        
    <insert id="insertRdsVersionPkg" parameterType="RdsVersionPkg" useGeneratedKeys="true" keyProperty="packageId">
        insert into cnsl_rds_version_pkg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="versionId != null">version_id,</if>
            <if test="pkgName != null">pkg_name,</if>
            <if test="pkgType != null">pkg_type,</if>
            <if test="fileName != null">file_name,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="versionId != null">#{versionId},</if>
            <if test="pkgName != null">#{pkgName},</if>
            <if test="pkgType != null">#{pkgType},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateRdsVersionPkg" parameterType="RdsVersionPkg">
        update cnsl_rds_version_pkg
        <trim prefix="SET" suffixOverrides=",">
            <if test="versionId != null">version_id = #{versionId},</if>
            <if test="pkgName != null">pkg_name = #{pkgName},</if>
            <if test="pkgType != null">pkg_type = #{pkgType},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where package_id = #{packageId}
    </update>

    <delete id="deleteRdsVersionPkgByPackageId" parameterType="Long">
        delete from cnsl_rds_version_pkg where package_id = #{packageId}
    </delete>

    <delete id="deleteRdsVersionPkgByPackageIds" parameterType="String">
        delete from cnsl_rds_version_pkg where package_id in 
        <foreach item="packageId" collection="array" open="(" separator="," close=")">
            #{packageId}
        </foreach>
    </delete>
</mapper>